nav {
  background-color: black;
  color: white;
  padding-top: 3%;
}

#buttonLogout:hover {
  background-color: grey;
  border-color: black;
}

.nav-link {
  font-size: large;
  color: white;
}

.nav-link:hover {
  color: grey;
}

h5 {
  margin-bottom: 0;
  color: yellow;
}
.container-fluid {
  margin-left: 3%;
}
