header {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15vh;
    color: #5a5a5a;
    display: flex;
    align-items: center;
    height: 25vh;
    align-items: center;
    margin-left: 5vw;
}

h1{
    font-family: 'Press Start 2P', cursive;
}