.bandaid-title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 10vh;
    color: #5a5a5a;
    background: #BCF4F5;
    display: flex;
    align-items: center;
    height: 12.5vh;
    align-items: center;
}