<div class="card" *ngIf="!pokemon?.deleted">
    <img class="mx-auto d-block" src="{{ pokemon?.sprite }}" />
    <div class="card-body">
      <li class="list-group-item">
        <h3 class="card-title">
          <span style="white-space: nowrap;">{{ pokemon?.name }}</span>
        </h3>
        <p class="card-text">- 
          <span>{{ pokemon?.type }} -</span>
        </p>
        <button class="btn btn-danger" (click)="onPokemonClicked()">
          Delete
        </button>
      </li>
    </div>
  </div>
