
  <div class="card">
    <img class="mx-auto d-block" src="{{ pokemon?.sprite }}" />
    <div class="card-body">
      <li class="list-group-item">
        <h3 class="card-title">
          <span style="white-space: nowrap;">{{ pokemon?.name }}</span>
        </h3>
        <p class="card-text">Type: 
          <span>{{ pokemon?.type }}</span>
        </p>
        <button *ngIf="!pokemon?.caught" class="btn btn-danger" (click)="onPokemonClicked()">
          Catch!
        </button>
        <button *ngIf="pokemon?.caught" class="btn btn-secondary" disabled>
          Catched!
        </button>
      </li>
    </div>
  </div>

