.catalogue-item {
    background: rgb(183, 232, 255);
    border-radius: 10px;
    width: 256px;
    height: 370px;
}

.item-sprite {
    width: 100%;
}

/* .item-backdrop {
    position: relative;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 230px;
    margin-top: -156px;
} */