.card-img-top{
    width: 100px;
}

title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 10vh;
    color: #5a5a5a;
    background: #BCF4F5;
    display: flex;
    align-items: center;
    height: 12.5vh;
    align-items: center;
}
/* .item-backdrop {
    position: relative;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 230px;
    margin-top: -156px;
} */